<div class="py-5">
  <h2>Iniciar Sesión</h2>
  <hr class="w-50" />

  <form id="loginForm" action="/login" method="post">
    <div class="form-group">
      <div class="form-group">
        <label>Email</label>
        <input name="email" class="form-control w-50 m-auto" />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input name="password" type="password" class="form-control w-50 m-auto" />
      </div>
    </div>
    <button type="submit" class="btn btn-success mb-3">Ingresar</button>
    <p>¿Aún no tienes cuenta? <a href="/registro">Regístrate</a></p>
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelector("#loginForm").addEventListener("submit", function(event) {
      event.preventDefault(); // Evita el envío del formulario

      // Validar que todos los campos estén llenos
      const inputs = document.querySelectorAll("#loginForm input");
      let formIsValid = true;
      inputs.forEach(function(input) {
        if (input.value.trim() === "") {
          formIsValid = false;
        }
      });

      // Si algún campo está vacío, mostrar mensaje de alerta
      if (!formIsValid) {
        alert("Por favor, complete todos los campos antes de iniciar sesión.");
      } else {
        // Si todos los campos están llenos, enviar el formulario
        this.submit();
      }
    });
  });
</script>
